* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}


/* regole Header */
.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo img {
  height: 70px;
}

/* NAV */
.nav-list {
  display: flex;
  gap: 20px;

}

.nav-list li {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  letter-spacing: -0.8px;
  padding: 35px 0;
  border-bottom: 4px solid transparent;
  transition: color 0.3s, border-color 0.3s;
}

/* ACTIVE + HOVER */
.nav-list a:hover,
.nav-list a.active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}