* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.8px;
}

main {
  background: #1c1c1c;
}


/* Utils */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* regole Header */
.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo img {
  height: 70px;
}

/* NAV */
.nav-list {
  display: flex;
  gap: 20px;

}

.nav-list li {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 35px 0;
  border-bottom: 4px solid transparent;
  transition: color 0.3s, border-color 0.3s;
}

/* ACTIVE + HOVER */
.nav-list a:hover,
.nav-list a.active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}

/*Regole Main */
.contents {
  background-image: url('./assets/img/jumbotron.jpg');
  background-size: cover;
  height: 320px;

}

/*Regole lista Fumetti*/
.card-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.prod-card {
  width: calc((100% - (24px * 5)) / 6);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  background: transparent;

}

.prod-card img {
  width: 100%;
  aspect-ratio: 2 / 3;     /* proporzione tipo cover */
  object-fit: cover;       
  display: block;
}

.prod-card h4 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;              
  line-height: 1.2;
}

.content-text {
  margin: 0 auto;
  width: 80%;
  color: white;
}



/*BOTTONE LOAD MORE*/


.loadmore-wrap {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px;
}

.loadmore-btn {
  background: #0282f9;
  color: white;
  border: none;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.loadmore-btn:hover {
  background: #026ad1;
}





/*SERVIXI*/
.services {
  display: flex;
  height: 110px;
  align-items: center;
  background-color: #0282f9;
}

.services-bar {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 60px;
}

.service-img {
  height: 45px;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}


/*  FOOTER  */
.site-footer {
  width: 100%;
}

/* TOP PART  */
.footer-top {
  background-image: url("./assets/img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 30px 0 45px;
  min-height: 370px;
}

/*logo overlay */
.footer-bg-logo {
  background-image: url("./assets/img/dc-logo-bg.png");
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
  width: 560px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}


.footer-nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 45px;
}

.footer-col h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: white;
}


.footer-list {
  list-style: none;
}

.footer-list li a {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #9c9c9c;
}

.footer-list li a:hover {
  color: white;
}

/*  BOTTOM BAR */
.bottoms-bar {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #303030;
}

.bottom-bar-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-btn {
  background: transparent;
  padding: 12px 18px;
  border: 2px solid #0282f9;
  color: white;
  cursor: pointer;
  font-weight: 700;
  transition: background 0.3s;
}

.signup-btn:hover {
  background: #0282f9;
}

.social {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social span {
  color: #0282f9;
  font-weight: 700;
  margin-right: 8px;
}

.social img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.2s;
}