* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.8px;
}


/* regole Header */
.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo img {
  height: 70px;
}

/* NAV */
.nav-list {
  display: flex;
  gap: 20px;

}

.nav-list li {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  font-weight: 600;

  padding: 35px 0;
  border-bottom: 4px solid transparent;
  transition: color 0.3s, border-color 0.3s;
}

/* ACTIVE + HOVER */
.nav-list a:hover,
.nav-list a.active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}

/*Regole Main */
.contents {
  background-color: black;
  height: 110px;
  display: flex;
  align-items: center;

}


.content-text {
  margin: 0 auto;
  width: 80%;
  color: white;
}

.services{
display: flex;
height: 110px;
align-items: center;
background-color: #0282f9;
}

.services-bar {
  display: flex;
  justify-content: center;
  width:80%; 
  margin: 0 auto;
  gap:35px; 
}

.service-img {
  height: 45px;
}

.service-item {
  display: flex;
  align-items: center;
  gap:12px; 
  text-decoration: none;
  color:white; 
  font-size: 15px; 
}

/* Footer */
footer {
background-image : url('./assets/img/footer-bg.jpg'); 

padding-top: 30px;
}

.footer-nav {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.footer-col {
  margin-right: 10px;
}
.footer-col h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    color:white; 
}

.footer-col ul {
    list-style-type: none;
}

.footer-col ul li a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 0;
    font-size: 15px; 
    font-weight: normal;
    color: grey;
     
}